* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    min-height: 100vh; 
    background-color: #ffffff;
}

header a:hover {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1%;
}

h1, h2, h3 {
    text-align: center;
    padding: 1em 5%; 
}

.gerador1 {
    background: white;    
    padding: 20px;         
    border-radius: 8px;    
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 500px;          
    text-align: center;    
    margin: 20px 0;        
    display: flex;          
    flex-wrap: wrap;       
    justify-content: center;
}

.gerador1 > div {
    flex: 1 1 45%;       
    margin: 5px;           
}

label {
    display: block;         
    margin-bottom: 5px;     
    text-align: left;     
}

input {
    width: 100%;            
    padding: 8px;           
    border: 1px solid #ccc; 
    border-radius: 4px;    
}

button {
    margin-top: 20px;
    padding: 15px;         
    background-color: #d43b3b; 
    color: white;          
    border: none;          
    border-radius: 4px;    
    cursor: pointer;        
    transition: background-color 0.3s;
    width: 100%;
    font-size: 20px;
}

button:hover {
    background-color: #ac0808; 
}


@media (max-width: 600px) {
    .gerador1 {
        width: 90%; 
    }

    .gerador1 > div {
        flex: 1 1 100%; 
    }

    button {
        font-size: 18px; 
        padding: 10px; 
    }

    h1, h2, h3 {
        padding: 1em 10%; 
    }
}
